# Dictionary dict
  - Key:value pair
  - Duplicate keys not allowed but duplicate value allowed
  - insertion order not maintain
  - mutable
  - indexing and slicing not allowed
  - heterogenous data allowed

## Dictionary Creation

In [1]:
d ={}
print(type(d))
print(d)

<class 'dict'>
{}

In [2]:
d ={1:"ones",2:"two",3:"Three"}
print(type(d))
print(d)

<class 'dict'>
{1: 'ones', 2: 'two', 3: 'Three'}

In [4]:
d = dict({1:11,2:22,3:33})
print(d)
print(type(d))

{1: 11, 2: 22, 3: 33}
<class 'dict'>

In [6]:
d = {"ones":1,"two":2}
print(d)
print(type(d))

{'ones': 1, 'two': 2}
<class 'dict'>

## keys() :- retrun keys

In [7]:
d ={1:"ones",2:"two",3:"Three"}
d.keys()

dict_keys([1, 2, 3])

## values(): retrun values

In [8]:
d ={1:"ones",2:"two",3:"Three"}
d.values()

dict_values(['ones', 'two', 'Three'])

## items() :- retrun item / element form dict

In [9]:
d ={1:"ones",2:"two",3:"Three"}
d.items()

dict_items([(1, 'ones'), (2, 'two'), (3, 'Three')])

## fromkeys() :- Create a new dictionary with keys from iterable and values set to value.

In [10]:
keys = {1,2,3,4,5}
values =10
mydict  = dict.fromkeys(keys,values)
mydict

{1: 10, 2: 10, 3: 10, 4: 10, 5: 10}

In [11]:
keys = [1,2,3,4,5]
values =10
mydict  = dict.fromkeys(keys,values)
mydict

{1: 10, 2: 10, 3: 10, 4: 10, 5: 10}

In [12]:
keys = {1,2,3}
values =[10,20,30]
mydict  = dict.fromkeys(keys,values)
mydict

{1: [10, 20, 30], 2: [10, 20, 30], 3: [10, 20, 30]}

## Accessing Items

In [13]:
mydict = {1:"one",2:"two",3:"three"}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [14]:
mydict[2]

'two'

In [15]:
mydict[9]

KeyError: 9

In [16]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [19]:
mydict1['Name']

'Asif'

## Add, Remove & Change Items

In [20]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [21]:
mydict1['age'] =36
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst', 'age': 36}

In [22]:
dict1 = {'DOB':1995,"test":765} 
mydict1.update(dict1) 
mydict1.pop

{'Name': 'Asif',
 'ID': 74123,
 'DOB': 1995,
 'job': 'Analyst',
 'age': 36,
 'test': 765}

## pop():-remove specified key and return the corresponding value.

In [33]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [27]:
mydict1.pop('job')

'Analyst'

## .popitem() :-Remove and return a (key, value) pair as a 2-tuple.

In [34]:
mydict1.popitem()

('job', 'Analyst')

## Removing item using del method

In [35]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [36]:
del[mydict1['job']]

In [38]:
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991}

## .clear() # Delete all items of the dictionary using clear method

In [39]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [40]:
mydict1.clear()

In [42]:
mydict1

{}

## copy():- Return a shallow copy of the dict

In [43]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [44]:
mydict2 = mydict1.copy()
print(mydict2)
print(id(mydict1)==id(mydict2))

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}
False

In [47]:
mydict3 =mydict1  # create a anew reference

print(id(mydict3),id(mydict1))

1915418025280 1915418025280

## Acces item using loop

In [48]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [49]:
for i in mydict1:
    print(i) # only keys print
    print(f"{i} : {mydict1[i]}")

Name
Name : Asif
ID
ID : 74123
DOB
DOB : 1991
job
job : Analyst

## Dictionary Membership

In [50]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [51]:
'Name' in mydict1

True

In [52]:
"Asif" in mydict

False