# Loops
 - if we want to execute group of statement multiple time

### Types of loops
 - for
 - while
 - for else
 - whie else

## 1) For Loop
 - For loops is used to iterate over a sequence such as a list, tuple, string or range. It allow to execute a block of code repeatedly, once for each      item in the sequence.

In [1]:
for x in range(0,5):
    print(x)

0
1
2
3
4

## Print Character from string

In [2]:
text = "Python"

for i in text:
    print(i)

P
y
t
h
o
n

###  Print Chacter from string along wth index

In [3]:
text = "Python"
i = 0
for x in text:
    print(i,x)
    i +=1

0 P
1 y
2 t
3 h
4 o
5 n

### Print hello 10 times

In [4]:
for i in range(0,10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

### Print table of 5

In [6]:
for i in range(1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

### Pritn Table of 3

In [7]:
for i in range(1,31):
    if i %3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

### Disoplay the number 0 to 10 in descenfing order

In [13]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### Print the sum of number present inside the list

In [14]:
lst = [10,20,30,40,50]
sum = 0
for  x in lst:
    sum = sum + x
print(sum)

150

## While Loop
- if we wnat to execute a group of statement iteratvily until some conditoin false

In [17]:
i = 5 

while i>=0:
    print("Data Scinece")
    i-=1

Data Scinece
Data Scinece
Data Scinece
Data Scinece
Data Scinece
Data Scinece

In [19]:
i = 0 

while i <=5:
    print("FSDS")
    i+=1

FSDS
FSDS
FSDS
FSDS
FSDS
FSDS

In [20]:
i = 1 

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [21]:
i = 1 

while i<=5:
    print('data science',end=" ") # when we mention end then new line will not create
    j = 1
    
    while j<=4:
        print('technology',end=" ")
        j = j + 1
        
    i = i + 1
    print()

data science technology technology technology technology
data science technology technology technology technology
data science technology technology technology technology
data science technology technology technology technology
data science technology technology technology technology

In [22]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [23]:
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

### To print number  from 1 to 10 by usin loop

In [25]:
i = 1

while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### to dislay the sum of first n number

In [31]:
num = int(input())
sum =0
i=0
while i<=num:
    sum = sum+i
    i+=1
print(sum)

 10

55

## Nested Loop

In [32]:
for i in range(1, 5):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

## For else

In [34]:
num = [1,2,3,4,5,6]
for x in num:
    print(x)
else:
    print("done")

1
2
3
4
5
6
done

### While ELse

In [36]:
i = 0

while i<=5:
    print(i)
    i+=1
else:
    print("done")

0
1
2
3
4
5
done

## Loop Control Statement

### Continue Statement
- With the continue statement we can stop the current iteration of the loop, and continue with the next:
- or Skipped value

In [37]:
for i in range(0,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [38]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

## Break Statement
 - The break statement in Python brings control out of the loop.

In [40]:
for x in range(0,10):
    if x == 5:
        break
    print(x)

0
1
2
3
4

In [41]:
for i in "Viraj":

    if i == "a":
        break
    print(i)

V
i
r

# Pass Statement
- We use pass statement in Python to write empty loops.

In [42]:
for i in range(0,2):

_IncompleteInputError: incomplete input (3067798682.py, line 1)

In [43]:
for i in range(1,10):
    pass