# print is use for answer

In [2]:
a=10
b=20
a
b

20

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [4]:
 print(10)
print(10,20)
print(10,20,"hello")
print("hello")

10
10 20
10 20 hello
hello

In [6]:
num1=20
num2=89
add=num1+num2
print(add)

109

# Print Result With String

In [7]:
num1=20
num2=30
add= num1+num2
print("The addition of",num1,'and',num2,'is= ',add)

The addition of 20 and 30 is=  50

In [9]:
name= "viraj"
age = 26
city="akola"
print("hello my name is ",name,"and i am ",age,"years old from ",city)

hello my name is  viraj and i am  26 years old from  akola

# Print Format Method

In [11]:
num1=20
num2=30
add = num1+num2
print("the addition of {} and {} is = {}".format(num1,num2,add))

the addition of 20 and 30 is = 50

In [13]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3
avg1=round((num1+num2+num3)/3,2)
print('the average of {} ,{} and {} is  ={} or{}'.format(num1,num2,num3,avg,avg1))

the average of 100 ,25 and 333 is  =152.66666666666666 or152.67

# F String Method

In [1]:
num1=20
num2=30
add=num1+num2
print(f'the addition of {num1} and {num2} is = {add}')

the addition of 20 and 30 is = 50

# END Statement

In [2]:
print("hello")

print("good morning")

hello
good morning

In [3]:
print("hello",end=' ')
print("world good day")

hello world good day

# Seprator

In [4]:
print('hello','hai','how are you',sep='------>')

hello------>hai------>how are you

In [5]:
print("akola","nagpur","hyderabad",sep='$$')

akola$$nagpur$$hyderabad