# Introduction

- Python is genaral purpose High Level programming language
- Developed by Guido van rossam in 1989
- Offical DOB :- 20th Feb 1991
- Monty's Python Circus
- Developed by taking almost all programming feature from diffrent language like c,abc,perl,shell script etc

# Features of Python

- Simple and easy : look like english easy to understand
- Open source : Free anyone can use and modify according to their requirement
- Platfrom Independent : Write once read anywhere it can run on any platfrom  (PVM: Python Virtual Machine)
- Dynamically Typed: No need to declare varriable , based on value type will assigned atomatically
- Both Procedure and OOPS : like c its procedure and lika java its oops
- Interpreted : It is a Interpreted language code will execured line by line
- Extensible : we can use any other language in python
- Embedded : We can use python programm in any other language
- Extensive Library : Python has rich library Support

# Identifier

- name in python is called identifier
- it can be class name , function name and module name
- variable = identifier = object
  ### Rules to define identifier
  - Case sensitive (a is not euqal to A)
  - Special character not allowed except underscore(_)
  - identifier never start with number but in between and end with number
  - reserved keyword not allowed
  - no lenghth limit for variable name but it should reflect its purpose

### Example of Identifer

In [1]:
test = 12    # valid
test

12

In [2]:
_test = 12 # valid
_test

12

In [4]:
12test = "viraj" # invalid
12test

SyntaxError: invalid decimal literal (948296466.py, line 1)

In [5]:
if = "python" # invalid
if

SyntaxError: invalid syntax (4039405928.py, line 1)

In [7]:
a= 20
A = 30
print(A)
print(a)
print(a==A)

30
20
False

# Reserved Word

- Some word are reserved to represent some meaning and fucntionality
- There are 36 keyword in python
   - False, None, True, and, as, assert,async, await,break,case, class,
   - continue,def, del,elif, else, except,finally, for, from,global,if, import,
   - in, is,lambda,match,nonlocal, not,or,pass,raise, return,try,while, with,yield
### - Except True,False,None all other are in small letter 

### To View all key word
 #### import keyword
     - keyword.kwlist

# Data Types

- Data Type represent what type of data store inside a variable
- As python is dynamically typed lannguage we dont need to specifiy datatype manually
  - ### Python Contain 14 Datatype Classified into 6 category
      - Fundamental Datab Type
        1) int
        2) float
        3) bool
        4) complex
      - Sequence Data Type
        1) str
        2) bytearray
        3) bytes
      - List Data Type
        1) list
        2) Tuple
      - Set Data Type
        1) Set Data Type
        2) frozenset
      - Dict Data Type
        1) Dict Data Type
      - None Data Type
        1) None

### Int Data Type
 - to represent whole number (integral vlaue)

In [8]:
a = 10 # int
print(a,type(a))

10 <class 'int'>

#### We can Represent Int value in following way
 1) Decimal form
 2) Binary formm
 3) octal form
 4) hexa decimal form

#### 1) Decimal from
 - allowed digit in between 0-9

In [9]:
a = 9
print(a,type(a))

9 <class 'int'>

#### 2) Binary Form
 - allowed digit  0 & 1
 - prefixed with 0b or 0B

In [10]:
a = 0b111
print(a,type(a))

7 <class 'int'>

In [11]:
b = 0B0101
print(b ,type(b))

5 <class 'int'>

#### 3) Octal form
 - allowed digit 0-7
 - prefixed with 0o or 0O

In [12]:
a = 0o123
print(a,type(a))

83 <class 'int'>

#### 4) Hexa Decimal Form
 - allowed digit 0- 9 ,a-f(bothn upper and lower ) a=10,b=11,c=12,d=13,e=14,f=15
 - prefixed with 0x or 0X

In [13]:
a = 0xAFEC
print(a)

45036

In [15]:
b = 0XBEEF
print(b)

48879

#### Base Conversion

##### 1) bin()
 - we can use bin() to convert any base to binary

In [16]:
a = bin(16)
print(a)

0b10000

In [17]:
b = bin(0b1111)
print(b)

0b1111

##### 2) oct()
 - we canuse oct() to convert from any base to octal

In [18]:
a = oct(19)
print(a)

0o23

In [19]:
b = 0O1233
print(b)

667

##### 3) hex()
 - we can use hex() to convert from any base to hexa decimal

In [20]:
a = hex(123)
print(a)

0x7b

### Float data type
- we can use float datatype to represent floating value (decimal value )

In [21]:
f = 1.23
print(f)

1.23


#### we can also use exponential value e(scintific notation)
  - e^0--> 1
  - e^1->10.0
  - e^2-->100.0
  - #### advantage save memory space

In [22]:
f = 1.2e3
print(f)

1200.0

#### Note : we can represnt int value in binary,octal,hexa decimal,decimal form but folat only in  decimal

In [23]:
f  = 0B11.1
f

SyntaxError: invalid syntax (2222692773.py, line 1)

### Complex Data Type
 - a+bj   ==>>  a is real and b is imaginary part wher j is sqrt of -1
 - in real part we can specify binary,decimal,octal hexa
 - but in imaginary part only decimal value

In [24]:
a= 0b11+5j
print(a)

(3+5j)

In [25]:
b = 2+0b11j
print(b)

SyntaxError: invalid binary literal (1071994835.py, line 1)

In [26]:
c = 3+5j
print(c.real)
print(c.imag)

3.0
5.0

### Bool data type
 - to represent boolean value
 - True or False allowed (True=1 & False =0)

In [27]:
b = True
print(b)

True

In [28]:
b= 0
print(b)

0

### Str data type
- represent string data
- sequence of character enclosed with in single or double quote
- To represent multipple line comment we can use tripple single or double quote comment

In [37]:
s1 =  "FSDS"
s2 = 'Python'
s3 = '''Hi Viraj,
 welcome to FSDS course'''

s4= "This is 'Viraj'"    # quatoe inside quoate 
print(s1)
print()
print(s2)
print()
print(s3)
print()
print(s4)

FSDS

Python

Hi Viraj,
 welcome to FSDS course

This is 'Viraj'